@import url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
@import url(./assets/fonts/Figtree-VariableFont_wght.ttf);
@import url(./assets/fonts/static/Figtree-ExtraBold.ttf);
@import url(./assets/fonts/static/Figtree-Medium.ttf);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 12px;
}
body{
    font-family: "Figtree", Arial, serif;
    background-color: #F4D04E;
    padding: 1rem;
}
.card{
    position: absolute;
    background-color: #FFF;
    max-width: 384px;
    max-height: 522px;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border: 1px solid #111;
    border-radius: 20px;
    box-shadow: 6px 6px #111;
}
.card >img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.status >span{
    background-color: #F4D04E;
    padding: 5px 1rem;
    border-radius: 4px;
    width: 82px;
    height: 29px;
}
span{
    font-size: 14px;
    font-weight: bold;
    color: #111;
}
p:first-of-type{
    margin: 1rem 0;
    font-size: 14px;
    color: #111;
}
.content >h1{
    font-size: clamp(20px, 5vw, 24px);
    color: #111;
}
.content p{
    font-size: clamp(12px, 5vw, 16px);
    color: #6B6B6B;
    line-height: 1.5em;
    margin-bottom: 2rem;
}
.user img{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 1rem;
}
.user p{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
}
h1:hover{
    color: #F4D04E;
    cursor: pointer;
}